/.idea/
/asm/
/backups/
/blueprints/
/crash-reports/
/CustomDISkins/
/fonts/
/hats/
/imcScripts/
/journeymap/
/logs/
/resourcepacks/
/saves/
/shaderpacks/
betterfps.txt
minecraftinstance.json
minetweaker.log
options.txt
smart_moving_options.txt
